.entrada, .saida {
    display: flex;
    justify-content: center;
    margin: 30px;
    align-items: center;
}

.botao {
    margin: 10px;
    height: 30px;
    border-radius: 10px;
    border-width: 1px;
}

.botao:hover {
    background-color: darkgray;
}

.input {
    height: 30px;
    border-radius: 10px;
    border-color: black;
    border-width: 1px;
}